//картинка на кнопки
::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 0px;
    height: 0px
}

//цвет места, где нет ползунка
::-webkit-scrollbar-track {
    background-color: #f5f5f5;

}

//Кастомизация ползунка
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #95e1d3;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;

}

::-webkit-resizer {
    background-repeat: no-repeat;
    width: 4px;


}

//весь скролл
::-webkit-scrollbar {
    width: 4px;
}
